<div class="container about2">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="card transparent">
        <div class="card-content black-text">
           <span class="roboto card-title">Card Title</span>
             <p class="roboto text1">Tempus dignissim eleifend cras in tortor, laoreet maecenas ac tincidunt ut pellentesque maiores, egestas placerat neque sem velit. Nulla nulla. Sed sed lobortis. Amet tellus amet auctor. Lorem praesent sodales nulla adipiscing, magna non elit vel leo arcu pellentesque. Aliquam elementum mollis, est massa in pellentesque massa, ut ligula mauris lorem dictumst lacus, lorem veniam molestie tortor ac ligula, adipiscing facilisis vestibulum mauris. Proin orci volutpat pretium, nulla blandit. Libero neque nunc felis habitant eu ut, ultricies eu posuere curabitur velit, nullam magnis ad magna augue mattis, et sunt tincidunt sed.</p>
         </div>
      </div>
		</div>
		
		 
		  	<div class="col s12 m12 l6 info">
		      
		  	    <%=image_tag('avatar.png',class:'center info avatar ')%>
		  	    <h6 class="roboto">Daniel Benevides</h6>
		  	
		  	
		  	
		  		
		  		  <%=image_tag('avatar.png',class:'center info avatar  resposive-img circle')%>
		  	    <h6 class="roboto">Mário Santiago</h6>
		  	 
		  	
	
		  	  
		  		  <%=image_tag('avatar.png',class:'avatar info resposive-img circle')%>
		  	    <h6 class="roboto">Rafaela Rabelo</h6>
		  
		  
			</div>
		
		
	</div>
</div>