


<div class="row about2">
	<div class=" col s12 l4 m12">
	 <div class="center-align">
		<%=image_tag("avatar.png", class: " responsive-img")%>
	 </div>
   <h5 class="roboto center-align">Daniel Benevides</h5> 		
	</div>
	<div class="col s12 l4 m12">
	 <div class="center-align">	
		<%=image_tag("avatar.png", class: "center-align responsive-img")%>
	</div>
	<h5 class="roboto center-align">Rafaela Meneguel</h5>	
	</div>
	<div class="col s12 l4 m12">
	 <div class="center-align">
		<%=image_tag("avatar.png", class: "center-align responsive-img")%>
	 </div>
	 <h5 class="roboto center-align"> Mário das breja</h5>	
	</div>
</div>
