<div class="container container1">
	<div class="row ">
		<div class="col s12 l6 offset-l6 ">
      <ul class="collection">
       <li class="collection-item">
       
        <div class="content-about">
         
        	<h5 class="roboto">Daniel Benevides</h5>
        
        </div>
        <%=image_tag("avatar.png", class: "responsive-img")%>
       </li>
       <li class="collection-item">
        <div class="content-about">
        	<h5 class="roboto">Daniel Benevides</h5>
        </div>
       	<%=image_tag("avatar.png", class: "responsive-img")%>
       </li>
       <li class="collection-item">
        <div class="content-about">
        	<h5 class="roboto">Daniel Benevides</h5>
        </div>
       	<%=image_tag("avatar.png", class: "responsive-img")%>
       </li>
     
    </ul>	
		</div>
	</div>
</div>