
<div class="container">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="card transparent">
        <div class="card-content black-text">
           <span class="roboto card-title">Card Title</span>
             <p class="roboto text1">Tempus dignissim eleifend cras in tortor, laoreet maecenas ac tincidunt ut pellentesque maiores, egestas placerat neque sem velit. Nulla nulla. Sed sed lobortis. Amet tellus amet auctor. Lorem praesent sodales nulla adipiscing, magna non elit vel leo arcu pellentesque. Aliquam elementum mollis, est massa in pellentesque massa, ut ligula mauris lorem dictumst lacus, lorem veniam molestie tortor ac ligula, adipiscing facilisis vestibulum mauris. Proin orci volutpat pretium, nulla blandit. Libero neque nunc felis habitant eu ut, ultricies eu posuere curabitur velit, nullam magnis ad magna augue mattis, et sunt tincidunt sed.</p>
         </div>
      </div>
		</div>
		
		  
		  	 <div class="col s4 m4 l2 ">
		       <div class="info">
		  	    <%=image_tag('avatar.png',class:' center avatar ')%>
		  	    <h6 class="roboto">Daniel Benevides</h6>

		  	  </div>
		  	</div>
		  	<div class="col s4 m4 l2">
		  		<div class="info">
		  		  <%=image_tag('avatar.png',class:'center  avatar ')%>
		  	    <h6 class="roboto">  Mário Santiago  </h6>
          </div>		  	 
		  	</div>

	      <div class="col s4 m4 l2">   
		  	  <div class="info">
		  		  <%=image_tag('avatar.png',class:'center avatar')%>
 		  	    <h6 class="roboto">  Rafaela Rabelo  </h6>
 		  	  </div>
 		  	</div>  

		  

			
		<a class="fancybox" rel="gallery1" href="http://farm2.staticflickr.com/1669/23976340262_a5ca3859f6_b.jpg" title="Twilight Memories (doraartem)">
    <img src="http://farm2.staticflickr.com/1669/23976340262_a5ca3859f6_m.jpg" alt="" />
</a>
<a class="fancybox" rel="gallery1" href="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_b.jpg" title="Electrical Power Lines and Pylons disappear over t.. (pautliubomir)">
    <img src="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_m.jpg" alt="" />
</a>
<a class="fancybox" rel="gallery1" href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" title="Morning Godafoss (Brads5)">
    <img src="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_m.jpg" alt="" />
</a>
<a class="fancybox" rel="gallery1" href="http://farm4.staticflickr.com/3691/10185053775_701272da37_b.jpg" title="Vertical - Special Edition! (cedarsphoto)">
    <img src="http://farm4.staticflickr.com/3691/10185053775_701272da37_m.jpg" alt="" />
</a>
		
	</div>
	
</div>