<div class="container">
	<div class="row">
		<div class="col m12 s12 l12">
			<div class="main-image">
				<%=image_tag('slider2.png',class:'responsive-img')%>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 l6"></div>
		<div class="col s12 m6 l6">
			<ul class="thumbs-image">
				<li class="thumbnail-image">a</li>
				<li class="thumbnail-image">b</li>
				<li class="thumbnail-image">c</li>
				<li class="thumbnail-image">d</li>
				<li class="thumbnail-image">e</li>
				<li class="thumbnail-image">f</li>
			</ul>
		</div>
	</div>
</div>