
<div class="container"> 
  <div class="slider">
    <ul class="slides">
      <li>
        <%=image_tag('slider1.png',id:'image1')%>
        
      </li>
      <li>
        <%=image_tag('slider2.png')%>
       
      </li>
      <li>
        <%=image_tag('slider3.png')%>
   
      </li>
    </ul>
  </div>
</div>