<div id="gal1">
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Title here"
        title="Or here(more priority)"
        data-desc="some description"
        data-category="image category here"
        data-fullsrc="path/to/full/image."
    />
                                   
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://tvcultura.com.br/upload/tvcultura/programas/programa-imagem-som.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
    <img src="http://blogdecoracao.biz/wp-content/uploads/2015/04/arquitetura-moderna-5.jpg"
        alt="Image"
        data-desc="Example"
        data-fullsrc="imgs/image42.jpg"
    />
</div>
