
<div class="container"> 
  <div class="slider">
    <ul class="slides">
      <li>
        <%=image_tag('slider1.png',class:'responsive-img')%>
        
      </li>
      <li>
        <%=image_tag('slider2.png', class:'responsive-img')%>
       
      </li>
      <li>
        <%=image_tag('slider3.png', class:'responsive-img')%>
   
      </li>
    </ul>
  </div>

</div>